In [1]:
from src.portfolio_data import get_portfolio_data
from helper.df_formater import format_portfolio_as_dataframe

In [2]:
# Fetch portfolio data in a DataFrame
portfolio_data, column_headers = get_portfolio_data()

# Display portfolio data in a DataFrame
portfolio_df = format_portfolio_as_dataframe(portfolio_data)

# Display the DataFrame
portfolio_df[column_headers]

  Ticker     Name   Sector Industry  Shares  Avg Cost
0   AAPL  Unknown  Unknown  Unknown   100.0     150.0